CLIENT_GATEWAY_PORT=3000

PAYMENTS_MS_PORT=3003

NATS_SERVERS="nats://localhost:4222"

# https://dashboard.stripe.com/acct_1TEJBcA0wqV6ZnYC/test/apikeys
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# signing secret del webhook
STRIPE_ENDPOINT_SECRET=

AUTH_DATABASE_URL=mongodb+srv://****:****@auth-microservice-db.vkctyr5.mongodb.net/AuthDB
